html,body,li,aside,section,h1,header,nav,ul,a,img,div,form,input,label{
margin:0;
padding:0;
list-style: none;
}

body{
background-color:#1a1a1a;
}

input, label{
display:block;
}


h1{
color:#ffffff;
font-family: tahoma;
}

h2{
width:40%;
height:25px;
background-color:#ffffff;
color:#000000;
padding-top:5px;
font-size:15px;
font-family: tahoma;  
}

h3{
display:inline;
font-size:12px;
font-family: tahoma;
font-weight:normal;
margin-left:3px;
}

p{
font-family: tahoma;
font-size:12px;
margin:0px;
margin-left:10px;
padding:0px;
}

.container{
margin-left:auto;
margin-right:auto;
width:1000px;
min-height:900px;
}

header{
width:100%;
height:50px;
margin-top:30px;
}

aside{
float: left;
width: 23%;
}


nav{
background-color:#ff4e02;
width:231px;
height:300px;
color:#ffffff;
float:left;
}

nav ul li{
padding-left: 30px;
background: url('../img/list_style.png') no-repeat left; 
font-family: tahoma;
margin-top:10px;;
margin-left:10px;
font-weight:normal;
}

nav li a {
width:231px;
height:30px;
color:#ffffff;
text-decoration:none;
padding-left:5px;
}

nav li a:hover{
color:#000000;
}

nav img{
margin-top:120px;
}

section{
    width: 77%;
    float: left;
}

footer{
background:URL('../img/footer.png') no-repeat;
width:1000px;
height:100px;
color:#ffffff;
float:left;
margin-top:10px;
margin-bottom:20px;
}

footer p:first-child {
margin-top:20px;
}

footer p:last-child {
color:#ff4e02;
}

.slider{
width:720px;
height:350px;
float:left;
margin-left:50px;
border:1px solid red;
}

.login{
background-color:#1d1d1d;
width:231px;
min-height:695px;
font-family: tahoma;
color:#ffffff;
float:left;
margin-top:90px;
}

.login_headline{
background-color:#ff4e02;
width:50px;
height:36px;
float:left;
color:#000000;
}

.login form{
margin-top:75px;
margin-left:25px;
}

#nameLogin, #PasswordForm{
width:175px;
border:1px solid #1d1d1d;
}

.login_button{
margin-top:20px;
margin-left:102px;
}

.login a{
color: #ffffff;
}

.login label{
margin-top:20px;
}

.login img{
float:left;
}

.login_button{
width:25px;
}

.login_button{
background-color:#ffffff;
width:75px;
height:25px;
border:1px solid #000000;
}
.signUp{
display: none;
float:left;
margin: 30px 0 0 0;
}

.competition{
width:650px;
min-height:385px;
float:left;
margin-top:50px;
margin-left:50px;
}

.competition_box{
background-color:#1d1d1d;
width:720px;
min-height:190px;
}

.competition_box:last-child:last-child{
margin-top:2.5px;
}


.competition_headline{
background-color:#ff4e02;
width:497px;
height:36px;
float:left;
}

.competition img{
float:left;
}

.contact{
background-color:#1d1d1d;
width:650px;
min-height:775px;
float:left;
margin-left:50px;
}
